@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* sidebar */
.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

/* navbar layering */
.nav-item,
.navbar {
  z-index: 10000;
}

/* mobile sidebar */
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* tooltip animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-in-out;
}
